<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.raptor.sample.client"/>

    <context:property-placeholder location="classpath:rpc.properties"/>

    <bean id="serviceDiscovery" class="com.raptor.registry.impl.consul.ConsulServiceDiscovery">
        <constructor-arg name="host" value="127.0.0.1"/>
        <constructor-arg name="port" value="8500"/>
    </bean>

    <bean id="rpcProxy" class="com.raptor.client.proxy.ServiceProxyProvider">
        <constructor-arg name="serviceDiscovery" ref="serviceDiscovery"/>
        <constructor-arg name="basePackages" value="com.raptor.sample.spi"/>
    </bean>

</beans>